* {
  padding: 0;
  margin: 0;
}
.header-title {
  text-align: center;
  margin-top: 50px;
}
.header-description {
  text-align: center;
}
.all-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.blog {
  background-color: wheat;
  width: 500px;
  height: 400px;
  padding: 40px;
  margin: 40px;
  border: 5px solid indigo;
  border-radius: 1.5em;
}
.blog img {
  width: 200px;
  margin-bottom: 25px;
  border: 2px solid black;
  border-radius: 10px;
}

/* Media Queries */

/* @media (max-width: 668px) {
  .blog {
    width: 300px;
    height: 200px;
  }
  .all-blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
} */

@media (max-width: 935px) {
  .blog {
    width: 400px;
    height: 350px;
  }
  .all-blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
@media (max-width: 1312px) {
  .blog {
    width: 400px;
    height: 420px;
  }
}
